<% content_for :title do %>
  <span class="main-header-text">Colé de Merma do RU</span>
<% end %>
<div class="wrapper">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 txt-center">
    <div class="col-xs-4">
      <span class="glyphicon glyphicon-send main-icon"></span>
    </div>
    <div class="col-xs-8">
      <span class="">
        Compartilhe
      </span>
    </div>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 btn-pdg">
    <div class="col-xs-6">
      <%= link_to "Cadastre-se", signup_path, class: "btn btn-default" %>
    </div>
    <div class="col-xs-6">
      <%= link_to "Entrar", signin_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
