<header class="header-text navbar navbar-fixed-top">
    <h1 class="header-text glyphicon glyphicon-<%= yield :glyph %>">
      <%= yield :title %>
    </h1>
      <%= link_to_if(signed_in?, "", signout_path, method: "delete", class: "header-logout glyphicon glyphicon-off") %>
</header>
